html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    background-color: burlywood;
    padding: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 24px;

}
body {
    margin: 0;
}
header {
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}
.book-cover {
    height: auto;
    width: 200px;
    display: grid;
    grid-column: 1;
    grid-row: 1/6;
    padding: 24px;
}
.main-book-background {
    background-color: white;
    padding: 24px;
    border: 1px solid lightblue;

    display: grid;
    grid-template-columns: auto 1fr;
}
main {
    max-width: 800px;
    margin: auto;
}
.book-rating {
    font-size: 125%;
}
.book-authors {
    color: dimgray;
}
button {
    padding: 12px;
    font-size: 110%;
  }
  
input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
  }
  
textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
  }